<h1> BUSCH LEAGUE </h1>
<% @league.seasons.each do |season| %>
  <p><%= link_to "#{season.name}", [@league, season] %></p>
<% end %>

<iframe width="420" height="315"
src="https://www.youtube.com/embed/5PEYCIqA1wo?autoplay=1&loop=1&playlist=5PEYCIqA1wo">
</iframe>

<a href="http://www.busch.com/"><img class="busch-car" src="http://cdn-5.motorsport.com/static/img/amp/600000/640000/648000/648300/648305/s6_632020/nascar-cup-new-sponsor-for-kevin-harvick-2015-new-sponsor-for-kevin-harvick-stewart-haas-r.jpg"></a>
