<h2> Welcome to ice cold flavor country, <%= @user.full_name %></h2><br>


<ul>
  <% @user_memberships.each do |membership| %>
    <% if membership.membership_type == 'player' %>
      <li>Playing for: <%= link_to "#{membership.team.name}", [membership.team.season.league, membership.team.season, membership.team] %></li>
    <% end %>
  <% end %>
</ul>

<ul>
  <% @user_memberships.each do |membership| %>
    <% if membership.membership_type == 'manager' %>
      <li>Managing: <%= link_to "#{membership.team.name}", [membership.team.season.league, membership.team.season, membership.team] %></li>
    <% end %>
  <% end %>
</ul>
