.starter-template {
  padding: 40px 15px;
  text-align: center;
}

html {
    width: 1200px;
    margin: auto;
    background-color: #3E3E3D ;
}

.realbody {
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    padding: 2%;
    border: 3px solid darkblue;
    margin-top: 1%;
    border-radius: 1.5%
}

span {
    color: #4BB3D2;
}

a {
    text-decoration: none;
    color: #EBA538;
}

a:hover {
    color: #4BB3D2;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 1%;
}

h1 {
    border-bottom: 1px solid black;
    padding-bottom: 2%;
}

h3 {
    padding: 2% 0 2% 0;
}

h2 {
   border: 1px solid #e4e4e4;
   width: 60%;
   margin: auto;
   text-align: center;
   padding: 1%;
}

th {
    border-bottom: 1px solid black;
}

.table {
    background-color: white;
}

.header {
    border: 1px solid #e4e4e4;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 1%;
}

.info {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.edit {
    text-decoration: none;
    color: #3E3E3D;
    border: 1px solid #EBA538;
    display: block;
    padding: 0.5%;
    margin-top: 5%;
}

.edit:hover {
    border: 1px solid #4BB3D2;
}

.edit_links {
    margin-top: 3%;
    width: 20%;
    text-align: center;
    float: left;
}

.details {
    width: 80%;
    margin: auto;
    padding: 1%;
    border: 1px solid #e4e4e4;
    margin-top: 5%;
}

.locate_date {
    width: 80%;
    float: left;
    margin-top: 4%;
}

.teams {
    overflow: hidden;
    text-align: center;
    margin-left: 12%;
}

.team_box {
    background-color: #e4e4e4;
    width: 38%;
    float: left;
    padding: 10% 2%;
    margin: 2%;
    border-radius: 100%;
}

.team-name {
    text-decoration: none;
    color: #3E3E3D;
}

.team-name:hover {
    color: #4BB3D2;
}

.team-score {
    margin: 0;
    font-size: 3em;
    color: #EBA538;
}

.rightone {
    margin-top: 0.75%;
    margin-right: 1%;
    float: right;
    overflow: hidden;
    font-size: 0.75em;
    width: 20%;
}

.busch-logo {
    width: 13%;
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 10%;
    border: 3px solid darkblue;
}

body {
    padding-bottom: 2%;
    border-radius: 1%;
}

.highlight {
    color: red;
}

.busch-car {
    width: 50%;
    float:right;
}
